# TEMPLATE ENVIRONMENT VARIABLES MICROSERVICES


# 1. Konfigurasi Database (Ganti DB_NAME sesuai service: umkm_auth / umkm_orders)
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=nama_database_anda

# 2. Konfigurasi Port (Gateway: 3000, Auth: 3001, Order: 3003)
PORT=3000

# 3. Konfigurasi JWT
JWT_SECRET=rahasia_jwt_super_aman
JWT_REFRESH=rahasia_refresh_token_aman

# 4. Konfigurasi Google OAuth (Khusus Auth Service)
GOOGLE_CLIENT_ID=masukkan_client_id_google_di_sini
GOOGLE_REDIRECT_URI=http://localhost:3001/google/callback